* {
  box-sizing: border-box;
}

body {
  background: url('images/marcela-r-432403-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "b . a"
                       "b . .";
  margin: 0;
  grid-template-rows: 280px 1fr;
  min-width: 900px;
}

:root {
  --frog-green: rgb(87 144 44);
  --frog-yellow: rgb(240 252 117);
  --frog-pink: rgb(238 149 151);
  --water-blue: rgb(56 141 236);
  --log-brown: rgb(116 89 69);
  --turtle-color: rgb(75 71 38);
  --road-black: rgb(48 42 35);
  --road-yellow: rgb(252 248 86);
  --road-white: rgb(254 255 255);
  --lawn-green: rgb(87 144 44);
  --car-red: rgb(216 55 49);
  --truck-teal: rgb(57 106 175);
  --taxi-yellow: rgb(229 196 65);
}
h1 {
  margin: 0;
  grid-column-start: span 2;
  justify-self: center;
  align-self: center;
  min-width: 300;
}
input[type="submit"] {
  border: 6px solid cornflowerblue;
  border-radius: 12px;
  background: white;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  color: cornflowerblue;
}
h3 {
  margin: 0;
  align-self: center;
}
canvas {
  background: var(--road-black);
  border: 20px solid var(--frog-green);
  grid-column-start: 0;
  grid-area: : b;
}
.header {
  display: grid;
  grid-area: a;
  background: white;
  padding: 10px;
  border: 5px solid green;
  background: rgb(87 144 44);
  color: white;
  border-radius: 20px;
}
.header-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.reset-form {
    grid-column-start: span 2;
    justify-self: center;
    align-self: center;
}
#game {
  border: 1px dashed;
  margin: auto;
  display: block;
}
#game {
  grid-area: b;
}
